<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garage Control</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/application.css" type="text/css">
    <script type="text/javascript" src="/static/js/garagepi.js"></script>
  </head>
  <body onload="createImageLayer()">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Garage Control</h1>
        </div>
      </div>

      <div class="row">
        <div id="webcam" class="col-xs-12" style="width:320px;height:180px">
            <noscript><img src="/?action=snapshot" /></noscript>
        </div>
        <script type="text/javascript">
/* Copyright (C) 2007 Richard Atterer, richard(C)atterer.net
   This program is free software; you can redistribute it and/or modify it
   under the terms of the GNU General Public License, version 2. See the file
   COPYING for details. */

var imageNr = 0; // Serial number of current image
var finished = new Array(); // References to img objects which have finished downloading
var paused = false;

function createImageLayer() {
  var img = new Image();
  img.style.position = "absolute";
  img.style.zIndex = -1;
  img.onload = imageOnload;
  img.src = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/webcam?n=" + (++imageNr);
  var webcam = document.getElementById("webcam");

  img.width = 320;
  img.height = 180;
  webcam.insertBefore(img, webcam.firstChild);
}

// Two layers are always present (except at the very beginning), to avoid flicker
function imageOnload() {
  this.style.zIndex = imageNr; // Image finished, bring to front!
  while (1 < finished.length) {
    var del = finished.shift(); // Delete old image(s) from document
    del.parentNode.removeChild(del);
  }
  finished.push(this);
  if (!paused) createImageLayer();
}
      </script>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <form action="toggle" method="post">
            <button type="submit" class="btn btn-default btn-block btn-action">Toggle Door</button>
          </form>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <button id="btnLightOn" type="submit" class="btn btn-default btn-block btn-action">Light On</button>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <button id="btnLightOff" type="submit" class="btn btn-default btn-block btn-action">Light Off</button>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </body>
</html>
