{{define "homepage"}}
{{template "head"}}
  <body onload="createImageLayer()">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Garage Control</h1>
        </div>
      </div>

      <div class="row">
        <div id="webcam" class="col-xs-12" style="width:320px;height:180px">
            <img src="/webcam" height="180" width="320" />
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <button id="btnDoorToggle" class="btn btn-default btn-block btn-action">Toggle Door</button>
        </div>
      </div> <!-- row -->
      {{ if .StateKnown }}
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <button id="btnLight" class="btn btn-default btn-block btn-action">Turn {{if .LightOn}}Off{{ else }}On{{end}} Light</button>
        </div>
      </div> <!-- row -->
      {{ end }}
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <form method="post" action="/logout">
            <button type="submit" class="btn btn-default btn-block btn-action" id="logout">Logout</button>
          </form>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </body>
</html>
{{end}}
